#include "glove0x0a_left.dtsi"
#include <dt-bindings/led/led.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

//左手用
&kscan_left {
    status = "okay";
};

&left_transform {
    status = "okay";
};

/ {
    chosen {
        zmk,split-role = "peripheral";
        zmk,split-key-count = <20>;
    };

    aliases {
        led-red = &led0;
        led-green = &led1;
        led-blue = &led2;
    };

    leds {
        status = "okay";
    };

    //keymap
    keymap {
        compatible = "zmk,keymap";
        //0:normal
        layer_qwerty { bindings = <
/*左手*/
&mt Q       TAB  &mt LGUI W &kp  E    &kp R     &kp T
&mt RCTRL   A    &kp S      &MY_kp_D  &kp F     &kp G
&kp LS_          &kp Z      &kp  C    &kp V     &kp B
&kp LCTRL        &kp LALT   &mkp LCLK &mo 2     &kp SPACE
          >;
        };
        //1:jigler-dummyレイヤー
        layer_fn1    { bindings = <
/*左手*/
&trans           &trans    &trans    &trans     &trans
&trans           &trans    &trans    &trans     &trans
&trans           &trans    &trans    &trans     &trans
&trans           &trans    &trans    &mo 4      &trans
 >; };
        //2:Custom + Function Keys + Vol
        layer_fn2    { bindings = <
/*左手*/
&TAB_F1_ESC_BtCL &kp F2     &kp UP    &kp F4    &kp F5
&mt LALT    CAPS &kp LEFT   &kp DOWN  &kp RIGHT &kp F3
&trans           &VOL_DN    &kp X     &VOL_UP   &kp EQUAL
&trans           &tog 1     &kp PSCRN &none     &kp BSPC
            >;
        };
        //3:Number + Bluetooth /マウス高速
        layer_fn3    { bindings = <
/*左手*/
&kp N1           &MY_N2     &kp  N3   &kp N4    &kp N5
&MY_U            &MY_L      &MY_D     &MY_R     &kp F3
&trans           &VOL_DN    &kp X     &VOL_UP   &kp EQUAL
&trans           &trans     &mkp RCLK &kp K_APP &ind_bat
            >;
        };

        //4:Custom + Function Keys + Vol
        layer_fn4    { bindings = <
/*左手*/
&TAB_F1_ESC_BtCL &kp F2     &kp UP    &kp F4    &kp F5
&mt LALT    CAPS &kp LEFT   &kp DOWN  &kp RIGHT &kp F3
&trans           &VOL_DN    &kp X     &VOL_UP   &kp EQUAL
&trans           &tog 1     &kp PSCRN &none     &kp BSPC
            >;
        };
        //5:Number + Bluetooth /マウス高速
        layer_fn5    { bindings = <
/*左手*/
&kp N1           &MY_N2     &kp  N3   &kp N4    &kp N5
&MY_U            &MY_L      &MY_D     &MY_R     &kp F3
&trans           &VOL_DN    &kp X     &VOL_UP   &kp EQUAL
&trans           &trans     &mkp RCLK &kp K_APP &ind_bat
            >;
        };
    };

};
