#include "glove0x0a_left.dtsi"
#include <dt-bindings/led/led.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

//左手用
&kscan_left {
    status = "okay";
};

&left_transform {
    status = "okay";
};

/ {
    chosen {
        zmk,split-role = "peripheral";
        zmk,split-key-count = <20>;
    };

    aliases {
        led-red = &led0;
        led-green = &led1;
        led-blue = &led2;
    };

    leds {
        status = "okay";
    };
};
