#include "glove0x0a_right.dtsi"
//右手用
&xiao_i2c {
    az1uball: az1uball@a {
        compatible = "zmk,az1uball";
        reg = <0x0a>;
        status = "okay";
        sensitivity = "1x";
    };
};

&kscan_right {
    status = "okay";
};

&right_transform {
    status = "okay";
};

/ {
    chosen {
        zmk,input-devices = &az1uball;
        zmk,split-role = "central";
        zmk,split-key-count = <39>;
    };

    input-listeners {
        compatible = "zmk,input-listeners";
        listeners = < &az1uball_listener>;
    };

    az1uball_listener: az1uball_listener {
        compatible = "zmk,input-listener";
        device  = < &az1uball >;
    };

    aliases {
        led-red = &led0;
        led-green = &led1;
        led-blue = &led2;
    };

    leds {
        status = "okay";
    };

    //keymap
    keymap {
        compatible = "zmk,keymap";
        //0:normal
        layer_qwerty { bindings = <
/*右手*/
&mt Q       TAB  &mt LGUI W &kp  E    &kp R     &kp T     &kp  Y     &kp  U    &kp I     &kp O     &mt  RCTRL MINUS
&mt RCTRL   A    &kp S      &MY_kp_D  &kp F     &kp G     &kp  H     &none     &kp K     &kp L     &kp  SEMI
&kp LS_          &kp Z      &kp  C    &kp V     &kp B     &kp  N     &kp  M    &kp COMMA &kp UP    &kp  ENTER
&kp LCTRL        &kp LALT   &mkp LCLK &mo 2     &kp SPACE            &mo  3    &kp LEFT  &kp DOWN  &kp  RIGHT
          >;
        };
        //1:jigler-dummyレイヤー
        layer_fn1    { bindings = <
/*右手*/
&trans           &trans    &trans    &trans     &trans    &trans     &trans    &trans    &trans    &trans
&trans           &trans    &trans    &trans     &trans    &trans     &trans    &trans    &trans    &trans
&trans           &trans    &trans    &trans     &trans    &trans     &trans    &trans    &trans    &trans
&trans           &trans    &trans    &mo 4      &trans               &mo  5    &trans    &trans    &trans
 >; };
        //2:Custom + Function Keys + Vol
        layer_fn2    { bindings = <
/*右手*/
&TAB_F1_ESC_BtCL &kp F2     &kp UP    &kp F4    &kp F5    &kp  F6    &F7_F10   &F8_F11   &F9_F12   &kp  P
&mt LALT    CAPS &kp LEFT   &kp DOWN  &kp RIGHT &kp F3    &RBKT_NUHS &trans    &kp HOME  &kp PG_UP &kp  INT1
&trans           &VOL_DN    &kp X     &VOL_UP   &kp EQUAL &NEW_8977  &kp DEL   &kp END   &kp PG_DN &kp  SLASH
&trans           &tog 1     &kp PSCRN &none     &kp BSPC             &kp K_APP &trans    &trans    &trans
            >;
        };
        //3:Number + Bluetooth /マウス高速
        layer_fn3    { bindings = <
/*右手*/
&kp N1           &MY_N2     &kp  N3   &kp N4    &kp N5    &kp  N6    &kp  N7   &kp N8    &kp N9    &N0_PIPE
&MY_U            &MY_L      &MY_D     &MY_R     &kp F3    &kp  SQT   &trans    &SC_U_L   &SC_D_R   &trans
&trans           &VOL_DN    &kp X     &VOL_UP   &kp EQUAL &kp  LBKT  &mkp LCLK &trans    &kp DOT   &kp  SLASH
&trans           &trans     &mkp RCLK &kp K_APP &ind_bat             &none     &BLE_USB  &BLE0_2   &BLE1_3
            >;
        };

        //4:Custom + Function Keys + Vol
        layer_fn4    { bindings = <
/*右手*/
&TAB_F1_ESC_BtCL &kp F2     &kp UP    &kp F4    &kp F5    &kp  F6    &F7_F10   &F8_F11   &F9_F12   &kp  P
&mt LALT    CAPS &kp LEFT   &kp DOWN  &kp RIGHT &kp F3    &RBKT_NUHS &trans    &kp HOME  &kp PG_UP &kp  INT1
&trans           &VOL_DN    &kp X     &VOL_UP   &kp EQUAL &NEW_8977  &kp DEL   &kp END   &kp PG_DN &kp  SLASH
&trans           &tog 1     &kp PSCRN &none     &kp BSPC             &kp K_APP &trans    &trans    &trans
            >;
        };
        //5:Number + Bluetooth /マウス高速
        layer_fn5    { bindings = <
/*右手*/
&kp N1           &MY_N2     &kp  N3   &kp N4    &kp N5    &kp  N6    &kp  N7   &kp N8    &kp N9    &N0_PIPE
&MY_U            &MY_L      &MY_D     &MY_R     &kp F3    &kp  SQT   &trans    &SC_U_L   &SC_D_R   &trans
&trans           &VOL_DN    &kp X     &VOL_UP   &kp EQUAL &kp  LBKT  &mkp LCLK &trans    &kp DOT   &kp  SLASH
&trans           &trans     &mkp RCLK &kp K_APP &ind_bat             &none     &BLE_USB  &BLE0_2   &BLE1_3
            >;
        };
    };

};
