#include "glove0x0a.dtsi"
#include <dt-bindings/led/led.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

&xiao_serial {
    status = "disabled";
};

&adc {
    status = "okay";
};

&usbd {
    status = "okay";
};

/ {
    /* あなたの analog_input.c はこのノードを使わないので削除しても良い */
    anin0: analog_input_0 {
        compatible = "zmk,analog-input";
        status = "disabled";
    };

    /* ZMK input subsystem に登録される input device */
    analog_in: analog_in {
        compatible = "zephyr,input-device";
        label = "ANALOG_IN";
    };
};

&{/chosen} {
    zmk,input-devices = &analog_in;
};

